@import "compass/utilities/general/min";
@import "compass/css3/transform";
@import "compass/css3/background-size";

html {
    height: 100%;
    @include min-height(600px);
}

body {
    height: 100%;
    overflow: auto;
    font-family: "Helvetica Neue", "Helvetica", "Microsoft YaHei", "Segoe UI", "Arial", "freesans", "sans-serif";
    background-image: url(http://laisky-blog.qiniudn.com/background-1500x844.jpg);
    @include background-size(100% 100%);
    background-attachment: fixed;

    > .container {
        width: 900px;
        margin-top: 40px;
    }

}

.row {
    margin-left: 0px;
    margin-right: 0px;
}

.navbar-fixed-top {
    padding-left: 10px;
    padding-right: 10px;
}

.loader-inner {
    &.pacman {
        margin-left: 30px;
    }

    &.ball-scale-ripple-multiple {
        margin-top: 30px;
        margin-left: 30px;
    }

}

.vertical-align {
    position: relative;
    top: 50%;
    @include translateY(-50%);
}

.global-fade {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background-color: rgba(40, 41, 35, 0.8);
    display: none;
}

.container,
.container-fluid {
    padding: 0px;
}