<div class="container-fluid archives-body">
    <div class="row">
        <!-- archives -->
        {% block archives %}
            <div id="archives" class="col-xs-9" data-dom-cache="true" data-role="page">
                {% for post in posts %}
                    {% include "widgets/post.html" %}
                {% endfor %}
            </div>
        {% endblock %}
        <!-- archives -->

        <!-- navigator -->
        {% block navbar %}
            {% include "archives/ajax/navbar.html" %}
        {% endblock %}
        <!-- navigator -->
    </div>
</div>

<!-- page navagator in the bottom -->
{% block pagenav %}
    {% include "archives/ajax/pagenav.html" %}
{% endblock %}
