# debug
# ipython

# encrypt
PyJWT>=1.5
bcrypt

# templates
jinja2
Pygments
webassets==0.11.1
cssmin
jsmin
html2text
lxml
markdown2
dicttoxml

# document
mkdocs

# db
pymongo==3.4  # for motor
motor==1.1  # always with bugs, upgrade carefully

# server
tornado>4.0

# time
pytz

# test
nose
coverage
