@import "compass/css3/border-radius";
@import "../themes/default.scss";
$bgd-clr: $post-bgd-clr;

body {
    padding: 20px;

    > .container .container-fluid.profile {
        text-align: center;
        @include border-radius(10px);
        width: 100%;
        min-height: 600px;
        background-color: $bgd-clr;

        .profile-container {
            min-height: 400px;
        }

    }

}