<div id="navtop" class="navbar navbar-fixed-top">
    <div class="navbar-inner">
    <!-- <div class="container"> -->
        <a class="btn btn-navbar collapsed" data-toggle="collapse" data-target=".navbar-responsive-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </a>
        <a class="brand" href="/archives">Laisky's Blog</a>
        <ul id="welcome" class="nav" style="margin-right: auto; margin-left: auto; position: absolute;">
            <li><a>The Beautiful World</a></li>
        </ul>
        <!-- <div class="nav-collapse navbar-responsive-collapse">
            <ul class="nav">
                <li class="active"><a href="/mark/">标注</a></li>
                <li><a href="/merge/">合并</a></li>
            </ul>
        </div> -->
    </div>
    <!-- </div> -->
</div>