<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ reverse_url('post:archives', 'archives') }}">Laisky</a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav apps">
                <li {{ 'class="active"' if current_app =='blog' else '' }}><a href="{{ reverse_url('post:archives', 'archives') }}">Blog</a></li>
                <li {{ 'class=active' if current_app =='profile' else '' }}><a href="/profile/">AboutMe</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="{{ reverse_url('rss') }}" target="_blank"><span class="rss glyphicon glyphicon-th-list" aria-hidden="true"></span></a>
                </li>
                <div class="navbar-form navbar-right nav-bar-search">
                    <script>
                      (function() {
                        var cx = '004733495569415005684:-c6y46kjqva';
                        var gcse = document.createElement('script');
                        gcse.type = 'text/javascript';
                        gcse.async = true;
                        gcse.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') +
                            '//cse.google.com/cse.js?cx=' + cx;
                        var s = document.getElementsByTagName('script')[0];
                        s.parentNode.insertBefore(gcse, s);
                      })();
                    </script>
                    <gcse:search gname="post_search"></gcse:search>
                    <!-- google.search.cse.element.getElement('post_search').execute('python') -->
                </div>
            </ul>
        </div>
    </div>
</nav>
