<div class="col-sm-3 navigator hidden-xs">
  <div class="container-fluid">
    <div class="row profile">
      <h3>Profile</h3>
      <img src="http://7s1ruy.com1.z0.glb.clouddn.com/head.jpg" alt="">
      <p>Laisky</p>
      <a href="https://twitter.com/ppcelery">Twitter</a>
      <a href="http://www.douban.com/people/Laisky/">Douban</a>
      <p>一切都还在施工之中...</p>
    </div>
    <div class="row">
      <h3>文章归档</h3>
      <div class="loader-inner line-scale-party"></div>
    </div>
    <div class="row">
      <div class="console container-fluid">
        <h3>管理</h3>
        <a class="publishBtn" href="/publish/">发布</a> {% else %}
        <a class="loginBtn" href="/login/">登录</a> {% endif %}
      </div>
    </div>
    <div class="row tags">
      <div class="container-fluid">
        <h3>标签</h3>
        {% for tag in tags %}
          <span data-query="{{ tag }}" class="label label-info tag search">{{ tag }}</span>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
