{% set current_page = current_page or 1 %}
{% set max_page = max_page or current_page %}
{% set page_start = max(current_page - 2, 1) %}
{% set page_end = min(page_start + 4, max_page) %}
<nav class="archives page-nav" id="page-nav">
    <ul class="pagination">
        <li {{ 'class="disabled"' if current_page == 1 else '' }}>
            <a aria-label="Previous" class="page-previous" data-page="{{ max(current_page - 1, 1) }}" href="/archives/?page={{ max(current_page - 1, 1) }}">
                <span aria-hidden="true">&laquo;</span>
            </a>
        </li>
        {% for page in range(page_start, page_end + 1) %}
            <li {{ 'class="active"' if page == current_page else '' }}><a class="page" href="/archives/?page={{ page }}">{{ page }}</a></li>
        {% endfor %}
        <li {{ 'class="disabled"' if current_page == max_page else '' }}>
            <a aria-label="Next" class="page-next" data-page="{{ min(current_page + 1, max_page) }}" href="/archives/?page={{ min(current_page + 1, max_page) }}">
                <span aria-hidden="true">&raquo;</span>
            </a>
        </li>
    </ul>
</nav>