/* line 7, ../../sass/widgets/slide.scss */
body {
  overflow: auto;
}
/* line 10, ../../sass/widgets/slide.scss */
body > .container {
  min-height: 90%;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background-color: whitesmoke;
  padding: 20px;
}

/* line 19, ../../sass/widgets/slide.scss */
.reveal.slide {
  font-size: 160%;
  background-color: white;
}
/* line 23, ../../sass/widgets/slide.scss */
.reveal.slide h1,
.reveal.slide h2,
.reveal.slide h3 {
  font-size: 1.5em;
  color: #32322d;
  margin-bottom: 40px;
}
/* line 31, ../../sass/widgets/slide.scss */
.reveal.slide ul {
  margin-bottom: 20px;
}
/* line 34, ../../sass/widgets/slide.scss */
.reveal.slide ul li {
  margin-left: 40px;
}
/* line 40, ../../sass/widgets/slide.scss */
.reveal.slide strong {
  font-weight: bolder;
}
/* line 44, ../../sass/widgets/slide.scss */
.reveal.slide p,
.reveal.slide li,
.reveal.slide pre,
.reveal.slide h4,
.reveal.slide h5 {
  color: #32322d;
  margin-bottom: 10px;
}
/* line 53, ../../sass/widgets/slide.scss */
.reveal.slide a {
  color: #1b4187;
}
/* line 57, ../../sass/widgets/slide.scss */
.reveal.slide img {
  cursor: pointer;
}
/* line 61, ../../sass/widgets/slide.scss */
.reveal.slide .progress {
  position: static;
}
/* line 65, ../../sass/widgets/slide.scss */
.reveal.slide div.slides {
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  height: auto !important;
  text-align: left;
  zoom: 0.7 !important;
  left: 50%;
}
/* line 73, ../../sass/widgets/slide.scss */
.reveal.slide div.slides section img {
  max-height: 800px;
  max-width: 800px;
  border: 0px solid black;
  -moz-box-shadow: 0 0 20px grey;
  -webkit-box-shadow: 0 0 20px grey;
  box-shadow: 0 0 20px grey;
}
/* line 80, ../../sass/widgets/slide.scss */
.reveal.slide div.slides section i {
  font-style: normal;
  font-family: FontAwesome;
  font-size: 2em;
}
/* line 88, ../../sass/widgets/slide.scss */
.reveal.slide div.slides .fade {
  opacity: 1;
}
/* line 92, ../../sass/widgets/slide.scss */
.reveal.slide div.slides div.input_area {
  padding: 0.06em;
}
/* line 96, ../../sass/widgets/slide.scss */
.reveal.slide div.slides div.code_cell {
  background-color: transparent;
}
/* line 100, ../../sass/widgets/slide.scss */
.reveal.slide div.slides div.prompt {
  width: 11ex;
  padding: 0.4em;
  margin: 0px;
  font-family: monospace, sans-serif;
  font-size: 80%;
  text-align: right;
}
/* line 109, ../../sass/widgets/slide.scss */
.reveal.slide div.slides div.output_area pre {
  font-family: monospace, sans-serif;
  font-size: 80%;
}
/* line 114, ../../sass/widgets/slide.scss */
.reveal.slide div.slides div.output_prompt {
  /* 5px right shift to account for margin in parent container */
  margin: 5px 5px 0 0;
}
/* line 120, ../../sass/widgets/slide.scss */
.reveal.slide div.slides .rendered_html p {
  text-align: inherit;
}
/* line 124, ../../sass/widgets/slide.scss */
.reveal.slide div.slides div {
  color: black;
  padding: 0px;
}
/* line 128, ../../sass/widgets/slide.scss */
.reveal.slide div.slides div pre {
  color: black;
  width: inherit;
  padding: 0.4em;
  margin: 0px;
  font-family: monospace, sans-serif;
  font-size: 80%;
  -moz-box-shadow: 0px 0px 0px transparent;
  -webkit-box-shadow: 0px 0px 0px transparent;
  box-shadow: 0px 0px 0px transparent;
  background: #f8f8f8;
  /* Comment */
  /* Error */
  /* Keyword */
  /* Operator */
  /* Comment.Multiline */
  /* Comment.Preproc */
  /* Comment.Single */
  /* Comment.Special */
  /* Generic.Deleted */
  /* Generic.Emph */
  /* Generic.Error */
  /* Generic.Heading */
  /* Generic.Inserted */
  /* Generic.Output */
  /* Generic.Prompt */
  /* Generic.Strong */
  /* Generic.Subheading */
  /* Generic.Traceback */
  /* Keyword.Constant */
  /* Keyword.Declaration */
  /* Keyword.Namespace */
  /* Keyword.Pseudo */
  /* Keyword.Reserved */
  /* Keyword.Type */
  /* Literal.Number */
  /* Literal.String */
  /* Name.Attribute */
  /* Name.Builtin */
  /* Name.Class */
  /* Name.Constant */
  /* Name.Decorator */
  /* Name.Entity */
  /* Name.Exception */
  /* Name.Function */
  /* Name.Label */
  /* Name.Namespace */
  /* Name.Tag */
  /* Name.Variable */
  /* Operator.Word */
  /* Text.Whitespace */
  /* Literal.Number.Bin */
  /* Literal.Number.Float */
  /* Literal.Number.Hex */
  /* Literal.Number.Integer */
  /* Literal.Number.Oct */
  /* Literal.String.Backtick */
  /* Literal.String.Char */
  /* Literal.String.Doc */
  /* Literal.String.Double */
  /* Literal.String.Escape */
  /* Literal.String.Heredoc */
  /* Literal.String.Interpol */
  /* Literal.String.Other */
  /* Literal.String.Regex */
  /* Literal.String.Single */
  /* Literal.String.Symbol */
  /* Name.Builtin.Pseudo */
  /* Name.Variable.Class */
  /* Name.Variable.Global */
  /* Name.Variable.Instance */
}
/* line 138, ../../sass/widgets/slide.scss */
.reveal.slide div.slides div pre code span,
.reveal.slide div.slides div pre span {
  color: black;
}
/* line 143, ../../sass/widgets/slide.scss */
.reveal.slide div.slides div pre .hll {
  background-color: #ffffcc;
}
/* line 147, ../../sass/widgets/slide.scss */
.reveal.slide div.slides div pre .c {
  color: #408080;
  font-style: italic;
}
/* line 153, ../../sass/widgets/slide.scss */
.reveal.slide div.slides div pre .err {
  border: 1px solid #FF0000;
}
/* line 158, ../../sass/widgets/slide.scss */
.reveal.slide div.slides div pre .k {
  color: #008000;
  font-weight: bold;
}
/* line 164, ../../sass/widgets/slide.scss */
.reveal.slide div.slides div pre .o {
  color: #666666;
}
/* line 169, ../../sass/widgets/slide.scss */
.reveal.slide div.slides div pre .cm {
  color: #408080;
  font-style: italic;
}
/* line 175, ../../sass/widgets/slide.scss */
.reveal.slide div.slides div pre .cp {
  color: #BC7A00;
}
/* line 180, ../../sass/widgets/slide.scss */
.reveal.slide div.slides div pre .c1 {
  color: #408080;
  font-style: italic;
}
/* line 186, ../../sass/widgets/slide.scss */
.reveal.slide div.slides div pre .cs {
  color: #408080;
  font-style: italic;
}
/* line 192, ../../sass/widgets/slide.scss */
.reveal.slide div.slides div pre .gd {
  color: #A00000;
}
/* line 197, ../../sass/widgets/slide.scss */
.reveal.slide div.slides div pre .ge {
  font-style: italic;
}
/* line 202, ../../sass/widgets/slide.scss */
.reveal.slide div.slides div pre .gr {
  color: #FF0000;
}
/* line 207, ../../sass/widgets/slide.scss */
.reveal.slide div.slides div pre .gh {
  color: #000080;
  font-weight: bold;
}
/* line 213, ../../sass/widgets/slide.scss */
.reveal.slide div.slides div pre .gi {
  color: #00A000;
}
/* line 218, ../../sass/widgets/slide.scss */
.reveal.slide div.slides div pre .go {
  color: #888888;
}
/* line 223, ../../sass/widgets/slide.scss */
.reveal.slide div.slides div pre .gp {
  color: #000080;
  font-weight: bold;
}
/* line 229, ../../sass/widgets/slide.scss */
.reveal.slide div.slides div pre .gs {
  font-weight: bold;
}
/* line 234, ../../sass/widgets/slide.scss */
.reveal.slide div.slides div pre .gu {
  color: #800080;
  font-weight: bold;
}
/* line 240, ../../sass/widgets/slide.scss */
.reveal.slide div.slides div pre .gt {
  color: #0044DD;
}
/* line 245, ../../sass/widgets/slide.scss */
.reveal.slide div.slides div pre .kc {
  color: #008000;
  font-weight: bold;
}
/* line 251, ../../sass/widgets/slide.scss */
.reveal.slide div.slides div pre .kd {
  color: #008000;
  font-weight: bold;
}
/* line 257, ../../sass/widgets/slide.scss */
.reveal.slide div.slides div pre .kn {
  color: #008000;
  font-weight: bold;
}
/* line 263, ../../sass/widgets/slide.scss */
.reveal.slide div.slides div pre .kp {
  color: #008000;
}
/* line 268, ../../sass/widgets/slide.scss */
.reveal.slide div.slides div pre .kr {
  color: #008000;
  font-weight: bold;
}
/* line 274, ../../sass/widgets/slide.scss */
.reveal.slide div.slides div pre .kt {
  color: #B00040;
}
/* line 279, ../../sass/widgets/slide.scss */
.reveal.slide div.slides div pre .m {
  color: #666666;
}
/* line 284, ../../sass/widgets/slide.scss */
.reveal.slide div.slides div pre .s {
  color: #BA2121;
}
/* line 289, ../../sass/widgets/slide.scss */
.reveal.slide div.slides div pre .na {
  color: #7D9029;
}
/* line 294, ../../sass/widgets/slide.scss */
.reveal.slide div.slides div pre .nb {
  color: #008000;
}
/* line 299, ../../sass/widgets/slide.scss */
.reveal.slide div.slides div pre .nc {
  color: #0000FF;
  font-weight: bold;
}
/* line 305, ../../sass/widgets/slide.scss */
.reveal.slide div.slides div pre .no {
  color: #880000;
}
/* line 310, ../../sass/widgets/slide.scss */
.reveal.slide div.slides div pre .nd {
  color: #AA22FF;
}
/* line 315, ../../sass/widgets/slide.scss */
.reveal.slide div.slides div pre .ni {
  color: #999999;
  font-weight: bold;
}
/* line 321, ../../sass/widgets/slide.scss */
.reveal.slide div.slides div pre .ne {
  color: #D2413A;
  font-weight: bold;
}
/* line 327, ../../sass/widgets/slide.scss */
.reveal.slide div.slides div pre .nf {
  color: #0000FF;
}
/* line 332, ../../sass/widgets/slide.scss */
.reveal.slide div.slides div pre .nl {
  color: #A0A000;
}
/* line 337, ../../sass/widgets/slide.scss */
.reveal.slide div.slides div pre .nn {
  color: #0000FF;
  font-weight: bold;
}
/* line 343, ../../sass/widgets/slide.scss */
.reveal.slide div.slides div pre .nt {
  color: #008000;
  font-weight: bold;
}
/* line 349, ../../sass/widgets/slide.scss */
.reveal.slide div.slides div pre .nv {
  color: #19177C;
}
/* line 354, ../../sass/widgets/slide.scss */
.reveal.slide div.slides div pre .ow {
  color: #AA22FF;
  font-weight: bold;
}
/* line 360, ../../sass/widgets/slide.scss */
.reveal.slide div.slides div pre .w {
  color: #bbbbbb;
}
/* line 365, ../../sass/widgets/slide.scss */
.reveal.slide div.slides div pre .mb {
  color: #666666;
}
/* line 370, ../../sass/widgets/slide.scss */
.reveal.slide div.slides div pre .mf {
  color: #666666;
}
/* line 375, ../../sass/widgets/slide.scss */
.reveal.slide div.slides div pre .mh {
  color: #666666;
}
/* line 380, ../../sass/widgets/slide.scss */
.reveal.slide div.slides div pre .mi {
  color: #666666;
}
/* line 385, ../../sass/widgets/slide.scss */
.reveal.slide div.slides div pre .mo {
  color: #666666;
}
/* line 390, ../../sass/widgets/slide.scss */
.reveal.slide div.slides div pre .sb {
  color: #BA2121;
}
/* line 395, ../../sass/widgets/slide.scss */
.reveal.slide div.slides div pre .sc {
  color: #BA2121;
}
/* line 400, ../../sass/widgets/slide.scss */
.reveal.slide div.slides div pre .sd {
  color: #BA2121;
  font-style: italic;
}
/* line 406, ../../sass/widgets/slide.scss */
.reveal.slide div.slides div pre .s2 {
  color: #BA2121;
}
/* line 411, ../../sass/widgets/slide.scss */
.reveal.slide div.slides div pre .se {
  color: #BB6622;
  font-weight: bold;
}
/* line 417, ../../sass/widgets/slide.scss */
.reveal.slide div.slides div pre .sh {
  color: #BA2121;
}
/* line 422, ../../sass/widgets/slide.scss */
.reveal.slide div.slides div pre .si {
  color: #BB6688;
  font-weight: bold;
}
/* line 428, ../../sass/widgets/slide.scss */
.reveal.slide div.slides div pre .sx {
  color: #008000;
}
/* line 433, ../../sass/widgets/slide.scss */
.reveal.slide div.slides div pre .sr {
  color: #BB6688;
}
/* line 438, ../../sass/widgets/slide.scss */
.reveal.slide div.slides div pre .s1 {
  color: #BA2121;
}
/* line 443, ../../sass/widgets/slide.scss */
.reveal.slide div.slides div pre .ss {
  color: #19177C;
}
/* line 448, ../../sass/widgets/slide.scss */
.reveal.slide div.slides div pre .bp {
  color: #008000;
}
/* line 453, ../../sass/widgets/slide.scss */
.reveal.slide div.slides div pre .vc {
  color: #19177C;
}
/* line 458, ../../sass/widgets/slide.scss */
.reveal.slide div.slides div pre .vg {
  color: #19177C;
}
/* line 463, ../../sass/widgets/slide.scss */
.reveal.slide div.slides div pre .vi {
  color: #19177C;
}
/* line 468, ../../sass/widgets/slide.scss */
.reveal.slide div.slides div pre .il {
  color: #666666;
}
/* line 479, ../../sass/widgets/slide.scss */
.reveal.slide aside.controls div.navigate-left {
  border-right-color: yellow;
}
/* line 483, ../../sass/widgets/slide.scss */
.reveal.slide aside.controls div.navigate-right {
  border-left-color: yellow;
}
/* line 487, ../../sass/widgets/slide.scss */
.reveal.slide aside.controls div.navigate-up {
  border-bottom-color: yellow;
}
/* line 491, ../../sass/widgets/slide.scss */
.reveal.slide aside.controls div.navigate-down {
  border-top-color: yellow;
}
