/* line 5, ../../sass/widgets/slide.scss */
body {
  overflow: auto;
}
/* line 8, ../../sass/widgets/slide.scss */
body > .container {
  min-height: 90%;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background-color: whitesmoke;
  padding: 20px;
}
