<!DOCTYPE HTML>
<html lang="en">
{% block head %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block title %}
        <title>Laisky's Blog</title>
    {% endblock %}
    <link rel="shortcut icon" href="/favicon.ico">
    <link rel="apple-touch-icon" href="/apple-touch-icon.png">
    <link rel="stylesheet" type="text/css" href="{{static_url('dist/css/libs-7871326441.min.css')}}">
    <link rel="stylesheet" type="text/css" href="{{static_url('dist/css/sites-aa6825413a.min.css')}}">
    {% block page_css %}
    {% endblock %}<!-- page_css -->
</head>
{% endblock %}<!-- head -->


{% block body %}
<body>

    {% include "fade.html" %}
    <div class="container-fluid" id="body">
        {% block container %}
        {% endblock %}<!-- container -->
    </div>

    <div class="pagejsx">
        {% block page_jsx %}
        {% endblock %}<!-- page_js -->
    </div>

    <script>
        (function(i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r;
            i[r] = i[r] || function() {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date();
            a = s.createElement(o),
                m = s.getElementsByTagName(o)[0];
            a.async = 1;
            a.src = g;
            m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-65521906-1', 'auto');
        ga('send', 'pageview');
    </script>

    <script src="{{static_url('dist/js/libs-c882803427.min.js')}}" type="text/javascript" charset="utf-8"></script>
    <script src="{{static_url('dist/js/sites-e1f5b42900.min.js')}}" type="text/javascript" charset="utf-8"></script>
    <div class="pagejs">
        {% block page_js %}
        {% endblock %}<!-- page_js -->
    </div>
</body>
{% endblock %}

</html>
