@import "compass/css3/border-radius";
@import "../themes/default.scss";

#about {
    @include border-radius(4px);
    background-color: $post-bgd-clr;
    position: relative;
    color: $post-cnt-clr;
    max-width: 800px;
    padding-bottom: 10px;

    .tab-pane {
        padding: 10px;
        margin-bottom: 10px;
        // border-bottom: 1px dashed grey;
        h2 {
            margin-top: 0;
            font-size: 2em;
            text-align: center;
        }
        // &:last-child {
        //     border-bottom: none;
        // }
        &.profile {
            p {
                margin: 0;
            }
        }
    }

    #me {
        .pay {
            img {
                float: left;
                margin-left: 5px;
                max-width: 200px;
                max-height: 200px;
            }
        }
    }
}
