@import "../themes/default.scss";
@import "compass/css3/border-radius";

#admin {
    @include border-radius(10px);
    background-color: #F1F1F1;
    padding: 10px;

    .category-console {
        .form-group {
            margin-left: 20px;
            margin-right: 20px;
            border-bottom: 1px dashed black;
            padding-bottom: 5px;
        }

        .control-label {
            text-align: left;
        }

        .submit {
            margin-left: 90%;
            margin-bottom: 10px;
        }
    }
}
