@import "compass/css3/border-radius";
@import "../themes/default.scss";
$nav-bgd-clr: $post-bgd-clr;
$nav-link-clr: $link-clr;
$nav-cnt-clr: $post-cnt-clr;
$nav-title-clr: $post-title-clr;

#post {
    max-width: 950px;
    margin-bottom: 10px;
    min-height: 800px;
    position: relative;

    #page-content {
        @include border-radius(10px);
        background-color: #F1F1F1;
        min-height: 600px;
        padding: 0px;

        .hint {
            margin: 10px;
        }

        span.MJXc-display {
            overflow-x: scroll;
        }
    }

    #postComment {
        padding: 10px;
    }

    .page-nav {
        text-align: center;
    }
}


#post-categories {
    article {
        @include border-radius(10px);
        background-color: #F1F1F1;
        min-height: 600px;
        padding-top: 5px;

        p {
            margin-bottom: 5px;
            font-size: 120%;
        }
    }

    nav {
        @include border-radius(10px);
        background-color: #F1F1F1;
        margin-left: 20px;

        .categories {
            p {
                margin: 0px;
            }
        }
    }
}
