#categories {
    .posts {
        background-color: var(--subtle-bg);
        padding: 1em;
        font-size: medium;
        border-radius: 8px;

        .post {
            border-radius: 0;
            box-shadow: none;
            margin: 0px;
            padding: 2px;
            border: none;
            // font-size: smaller;

            span {
                margin-right: 10px;
            }
        }
    }
}
