@import '../variables.scss';

.sidebar {
    max-width: 170px;
    background-color: $background-color;
    border-radius: 5px;
    padding: 5px;
    // margin-left: 10px;
    font-size: small;
    position: fixed;
    right: 5%;

    @media (max-width: 768px) {
        display: none;
    }

    h2 {
        font-size: large;
    }

    .admin {
        p {
            margin-bottom: 2px;
        }
    }

    .categories {
        li:not(:first-child) {
            margin-top: 2px;
        }
    }

    .tags {
        .tag-labels {
            font-size: x-small;

            span {
                cursor: pointer;
                font-size: 90%;
                float: left;
                margin-right: 2px;
                margin-bottom: 2px;
            }
        }
    }
}

nav.footer {
    position: fixed;
    bottom: 5px;

    li.page-item {
        a.page-link {
            text-align: center;
            padding: 5px;
            width: 35px;
        }
    }
}
