.scrollable-content {
    overflow-y: auto;
    display: flex;
    justify-content: center;
    width: 100%;

    /* Hide scrollbar for Chrome, Safari, and Opera */
    &::-webkit-scrollbar {
        display: none;
    }

    /* Hide scrollbar for IE, Edge, and Firefox */
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

.posts {
    letter-spacing: normal;
    margin-bottom: 10px;
    background-color: $background-color;
    height: inherit;
    margin-bottom: 65px;
    padding: 10px;
    border-radius: 5px;
    max-width: 850px;

    .post {

        &:not(:first-child) {
            margin-top: 20px;
        }

        .post-meta {
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
        }

        .post-content {
            border-radius: 10px;
            background-color: #F1F1F1;
            padding: 0;

            .hint {
                margin: 10px;
            }

            img {
                max-width: 85%;
                cursor: pointer;
            }

            pre > code {
                font-family: monospace;
                font-size: small;
            }
        }

        .post-sidebar {
            padding-right: 0;
        }

        .post-tail {
            text-align: right;
        }

        .page-nav {
            text-align: center;
        }
    }
}

#showImageModal {
    .modal-dialog {
        max-width: 90%;

        .modal-body {
            overflow: auto;
        }
    }
}
