{% extends "base.html" %}
{% block head %}
{{ super() }}
{% assets filters="less,cssmin", output="assets/p.css",
          "less/pages/p.less" %}
    <link rel="stylesheet" href="{{ ASSET_URL }}" />
{% endassets %}
{% assets filters="jsmin", output="assets/p.js",
          "js/pages/p.js", "js/image.js" %}
    <script type="text/javascript" src="{{ ASSET_URL }}"></script>
{% endassets %}
{% endblock %}
{% block body %}
{{ super() }}
<div class="container-fluid">
<div class="row-fluid">
    <!-- archives -->
    <div id="archives" class="span12">
        {% include "archives/ajax/post.html" %}
    </div>
    <!-- archives -->
</div>
</div>
{% endblock %}
