{% extends 'base.html' %}
{% block head %}
{{ super() }}
<style type="text/css">
    * {
        text-align: center;
    }
</style>
<script>
    $(function() {
        jumpToUrl('/archives');


        function jumpToUrl(url) {
            url = url || '/archives';
            timer = setInterval(
                function() {
                    changeTimeCount();
                },
                1000
            );

            function changeTimeCount() {
                var sec = Number($("#count").html());
                if(sec > 1){
                    $("#count").html(sec - 1);
                }else {
                    clearInterval(timer);
                    window.location.replace(url);
                }
            }
        }
    });

</script>
{% endblock %}
{% block body %}
{{ super() }}
<div class="container">
    <h1>Page Not Found</h1>
    <p><span id="count">5</span> 秒 后将会被跳转到文章页</p>
</div>
{% endblock %}
