{% extends 'base.html' %}
{% block head %}
{{ super() }}
<link rel="stylesheet" href="{{ static_url("css/404.css") }}">
{% endblock %}
{% block body %}
{{ super() }}
<h1>Articles</h1>
<div class="container-fluid">
<div class="row-fluid">
    <!-- navigator -->
    <div class="span2">
        <div id="navigator">
            <div class="row-fluid">
                <nav title="articles">
                    <h2>文章归档</h2>
                    <ul id="post_topics_bar" class="post-topics">
                        <p>载入中...</p>
                    <!-- {% for item in navigation %}
                        <li>1</li>
                        <li>2</li>
                        <li>3</li>
                    {% endfor %} -->
                    </ul>
                </nav>
            </div>
        </div>
    </div>
    <!-- navigator -->

    <!-- articles -->
    <div class="span10">
        <p>载入中...</p>
    </div>
    <!-- articles -->
</div>
</div>
{% endblock %}
