{% extends 'base.html' %}
{% block head %}
{{ super() }}
<link rel="stylesheet" href="{{ static_url("css/404.css") }}">
{% endblock %}
{% block body %}
{{ super() }}
<h1>Articles</h1>
<div class="container-fluid">
<div class="row-fluid">
    <!-- navigator -->
    <div class="span2">
        <div id="navigator">
            <div class="row-fluid">
                <nav title="articles">
                    <h2>文章归档</h2>
                    <ul id="post_topics_bar" class="post-topics">
                    {% for item in navigation %}
                        <li>1</li>
                        <li>2</li>
                        <li>3</li>
                    {% endfor %}
                    </ul>
                </nav>
            </div>
        </div>
    </div>
    <!-- navigator -->

    <!-- articles -->
    <div class="span10">
    {% for post in posts %}
        <div id="posts-container" class="post">
        <h2><a href="{{ post['post_name'] }}">{{ post['post_title'] }}</a></h2>
            <div class="post-content">
            <article>
                {{ post['post_content'] }}
            </article>
            </div>
            <div class="post-tail">
                <span>comment</span>
                <span>like</span>
            </div>
        </div>
    {% endfor %}
    </div>
    <!-- articles -->
</div>
</div>
{% endblock %}
