{% extends 'base.html' %}
{% block head %}
{{ super() }}
<link rel="stylesheet" href="{{ static_url("css/loader.css") }}">
<link rel="stylesheet" href="{{ static_url("css/archives.css") }}">
{% endblock %}
{% block body %}
{{ super() }}
<div class="container-fluid">
<div class="row-fluid">
    <!-- archives -->
    <div id="archives" class="span12">
        <div id="posts-container" class="post">
        <h2><a href="/p/{{ post['post_name'] }}">{{ post['post_title'] }}</a></h2>
            <div class="post-content">
            <article>
                {{ post['post_content'] }}
            </article>
            </div>
            <div class="post-tail">
                <span>comment</span>
                <span>like</span>
            </div>
        </div>
    </div>
    <!-- archives -->
</div>
</div>
{% endblock %}
