{% extends 'base.html' %}
{% block head %}
{{ super() }}
<link rel="stylesheet" href="{{ static_url("css/loader.css") }}">
<link rel="stylesheet" href="{{ static_url("css/archives.css") }}">
<script>
    $(function() {
        prettyImg();
    });

    function prettyImg() {
        $("img").addClass('img-rounded');
        $("img").css("max-height", 600);
        $("img").css("max-width", 600);
        $.each($("img"), function(node) {
            var nd = $(node);
            var src = nd.prop("src");
            nd.wrap('<a href="' + src + '"></a>')
        });
    }
</script>
{% endblock %}
{% block body %}
{{ super() }}
<div class="container-fluid">
<div class="row-fluid">
    <!-- archives -->
    <div id="archives" class="span12">
        <div id="posts-container" class="post">
        <h2><a href="/p/{{ post['post_name'] }}">{{ post['post_title'] }}</a></h2>
            <div class="post-content">
            <article>
                {{ post['post_content'] }}
            </article>
            </div>
            <div class="post-tail">
                <span>comment</span>
                <span>like</span>
            </div>
        </div>
    </div>
    <!-- archives -->
</div>
</div>
{% endblock %}
