/* line 8, ../../sass/pages/archives.scss */
.archives-body,
.post-body {
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  margin-bottom: 10px;
  background-color: #F1F1F1;
}

/* line 16, ../../sass/pages/archives.scss */
.navigator a {
  color: #1b4187;
  text-decoration: underline;
}
/* line 21, ../../sass/pages/archives.scss */
.navigator .container-fluid {
  position: relative;
}
/* line 24, ../../sass/pages/archives.scss */
.navigator .container-fluid .profile {
  text-align: center;
}
/* line 27, ../../sass/pages/archives.scss */
.navigator .container-fluid .profile img {
  max-width: 60px;
  max-height: 60px;
}
/* line 32, ../../sass/pages/archives.scss */
.navigator .container-fluid .profile a {
  display: block;
}
/* line 38, ../../sass/pages/archives.scss */
.navigator .container-fluid > .row {
  min-height: 100px;
  padding: 10px;
  margin-bottom: 10px;
  background-color: whitesmoke;
  border: 2px solid whitesmoke;
  border-radius: 10px;
}
/* line 46, ../../sass/pages/archives.scss */
.navigator .container-fluid > .row h1,
.navigator .container-fluid > .row h2,
.navigator .container-fluid > .row h3 {
  color: #55323e;
  margin-top: 0px;
  text-align: center;
}
/* line 55, ../../sass/pages/archives.scss */
.navigator .container-fluid > .row.tags a {
  text-decoration: none;
}
/* line 58, ../../sass/pages/archives.scss */
.navigator .container-fluid > .row.tags a .label {
  padding: 0.2em 0.3em 0.2em 0.2em;
}

/* line 72, ../../sass/pages/archives.scss */
.archives.page-nav {
  text-align: center;
}
