/* line 3, ../../sass/pages/login.scss */
.login-body {
  max-width: 600px;
  min-height: 240px;
  padding: 20px;
  margin: 20px auto;
  background: whitesmoke;
  border-radius: 10px;
}
/* line 11, ../../sass/pages/login.scss */
.login-body .hint {
  text-align: center;
  margin-bottom: 10px;
}
/* line 15, ../../sass/pages/login.scss */
.login-body .hint .hint-text {
  font-size: 1em;
}
