/* line 5, ../../sass/pages/p.scss */
.post-body .archives {
  padding-left: 0px;
  padding-right: 0px;
}

/* line 13, ../../sass/pages/p.scss */
.menu-nav > ul > li > a {
  padding-left: 0px;
  padding-top: 0px;
}
/* line 18, ../../sass/pages/p.scss */
.menu-nav li.active > a {
  background-color: lightgrey;
}
/* line 22, ../../sass/pages/p.scss */
.menu-nav .nav .nav {
  display: none;
}
/* line 26, ../../sass/pages/p.scss */
.menu-nav .nav li.active nav {
  display: block;
}
/* line 30, ../../sass/pages/p.scss */
.menu-nav .nav .active .nav {
  display: block;
}

/* line 37, ../../sass/pages/p.scss */
.post-body .reveal.slide {
  font-size: 160%;
  background-color: white;
}
/* line 41, ../../sass/pages/p.scss */
.post-body .reveal.slide h1,
.post-body .reveal.slide h2,
.post-body .reveal.slide h3 {
  font-size: 1.5em;
  color: white;
}
/* line 48, ../../sass/pages/p.scss */
.post-body .reveal.slide p,
.post-body .reveal.slide li,
.post-body .reveal.slide pre,
.post-body .reveal.slide h4,
.post-body .reveal.slide h5 {
  color: white;
}
/* line 56, ../../sass/pages/p.scss */
.post-body .reveal.slide a {
  color: #f6f7d0;
}
/* line 60, ../../sass/pages/p.scss */
.post-body .reveal.slide img {
  cursor: pointer;
}
/* line 64, ../../sass/pages/p.scss */
.post-body .reveal.slide .progress {
  position: static;
}
/* line 68, ../../sass/pages/p.scss */
.post-body .reveal.slide div.slides {
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  height: auto !important;
  text-align: left;
  zoom: 0.7 !important;
  left: 50%;
}
/* line 76, ../../sass/pages/p.scss */
.post-body .reveal.slide div.slides section img {
  max-height: 600px;
  max-width: 600px;
  border: 0px solid black;
  -moz-box-shadow: 0 0 10px transparent;
  -webkit-box-shadow: 0 0 10px transparent;
  box-shadow: 0 0 10px transparent;
}
/* line 83, ../../sass/pages/p.scss */
.post-body .reveal.slide div.slides section i {
  font-style: normal;
  font-family: FontAwesome;
  font-size: 2em;
}
/* line 91, ../../sass/pages/p.scss */
.post-body .reveal.slide div.slides .fade {
  opacity: 1;
}
/* line 95, ../../sass/pages/p.scss */
.post-body .reveal.slide div.slides div.input_area {
  padding: 0.06em;
}
/* line 99, ../../sass/pages/p.scss */
.post-body .reveal.slide div.slides div.code_cell {
  background-color: transparent;
}
/* line 103, ../../sass/pages/p.scss */
.post-body .reveal.slide div.slides div.prompt {
  width: 11ex;
  padding: 0.4em;
  margin: 0px;
  font-family: monospace, sans-serif;
  font-size: 80%;
  text-align: right;
}
/* line 112, ../../sass/pages/p.scss */
.post-body .reveal.slide div.slides div.output_area pre {
  font-family: monospace, sans-serif;
  font-size: 80%;
}
/* line 117, ../../sass/pages/p.scss */
.post-body .reveal.slide div.slides div.output_prompt {
  /* 5px right shift to account for margin in parent container */
  margin: 5px 5px 0 0;
}
/* line 123, ../../sass/pages/p.scss */
.post-body .reveal.slide div.slides .rendered_html p {
  text-align: inherit;
}
/* line 127, ../../sass/pages/p.scss */
.post-body .reveal.slide div.slides div {
  color: black;
  padding: 0px;
}
/* line 131, ../../sass/pages/p.scss */
.post-body .reveal.slide div.slides div pre {
  color: black;
  width: inherit;
  padding: 0.4em;
  margin: 0px;
  font-family: monospace, sans-serif;
  font-size: 80%;
  -moz-box-shadow: 0px 0px 0px transparent;
  -webkit-box-shadow: 0px 0px 0px transparent;
  box-shadow: 0px 0px 0px transparent;
  background: #f8f8f8;
  /* Comment */
  /* Error */
  /* Keyword */
  /* Operator */
  /* Comment.Multiline */
  /* Comment.Preproc */
  /* Comment.Single */
  /* Comment.Special */
  /* Generic.Deleted */
  /* Generic.Emph */
  /* Generic.Error */
  /* Generic.Heading */
  /* Generic.Inserted */
  /* Generic.Output */
  /* Generic.Prompt */
  /* Generic.Strong */
  /* Generic.Subheading */
  /* Generic.Traceback */
  /* Keyword.Constant */
  /* Keyword.Declaration */
  /* Keyword.Namespace */
  /* Keyword.Pseudo */
  /* Keyword.Reserved */
  /* Keyword.Type */
  /* Literal.Number */
  /* Literal.String */
  /* Name.Attribute */
  /* Name.Builtin */
  /* Name.Class */
  /* Name.Constant */
  /* Name.Decorator */
  /* Name.Entity */
  /* Name.Exception */
  /* Name.Function */
  /* Name.Label */
  /* Name.Namespace */
  /* Name.Tag */
  /* Name.Variable */
  /* Operator.Word */
  /* Text.Whitespace */
  /* Literal.Number.Bin */
  /* Literal.Number.Float */
  /* Literal.Number.Hex */
  /* Literal.Number.Integer */
  /* Literal.Number.Oct */
  /* Literal.String.Backtick */
  /* Literal.String.Char */
  /* Literal.String.Doc */
  /* Literal.String.Double */
  /* Literal.String.Escape */
  /* Literal.String.Heredoc */
  /* Literal.String.Interpol */
  /* Literal.String.Other */
  /* Literal.String.Regex */
  /* Literal.String.Single */
  /* Literal.String.Symbol */
  /* Name.Builtin.Pseudo */
  /* Name.Variable.Class */
  /* Name.Variable.Global */
  /* Name.Variable.Instance */
}
/* line 141, ../../sass/pages/p.scss */
.post-body .reveal.slide div.slides div pre code span,
.post-body .reveal.slide div.slides div pre span {
  color: black;
}
/* line 146, ../../sass/pages/p.scss */
.post-body .reveal.slide div.slides div pre .hll {
  background-color: #ffffcc;
}
/* line 150, ../../sass/pages/p.scss */
.post-body .reveal.slide div.slides div pre .c {
  color: #408080;
  font-style: italic;
}
/* line 156, ../../sass/pages/p.scss */
.post-body .reveal.slide div.slides div pre .err {
  border: 1px solid #FF0000;
}
/* line 161, ../../sass/pages/p.scss */
.post-body .reveal.slide div.slides div pre .k {
  color: #008000;
  font-weight: bold;
}
/* line 167, ../../sass/pages/p.scss */
.post-body .reveal.slide div.slides div pre .o {
  color: #666666;
}
/* line 172, ../../sass/pages/p.scss */
.post-body .reveal.slide div.slides div pre .cm {
  color: #408080;
  font-style: italic;
}
/* line 178, ../../sass/pages/p.scss */
.post-body .reveal.slide div.slides div pre .cp {
  color: #BC7A00;
}
/* line 183, ../../sass/pages/p.scss */
.post-body .reveal.slide div.slides div pre .c1 {
  color: #408080;
  font-style: italic;
}
/* line 189, ../../sass/pages/p.scss */
.post-body .reveal.slide div.slides div pre .cs {
  color: #408080;
  font-style: italic;
}
/* line 195, ../../sass/pages/p.scss */
.post-body .reveal.slide div.slides div pre .gd {
  color: #A00000;
}
/* line 200, ../../sass/pages/p.scss */
.post-body .reveal.slide div.slides div pre .ge {
  font-style: italic;
}
/* line 205, ../../sass/pages/p.scss */
.post-body .reveal.slide div.slides div pre .gr {
  color: #FF0000;
}
/* line 210, ../../sass/pages/p.scss */
.post-body .reveal.slide div.slides div pre .gh {
  color: #000080;
  font-weight: bold;
}
/* line 216, ../../sass/pages/p.scss */
.post-body .reveal.slide div.slides div pre .gi {
  color: #00A000;
}
/* line 221, ../../sass/pages/p.scss */
.post-body .reveal.slide div.slides div pre .go {
  color: #888888;
}
/* line 226, ../../sass/pages/p.scss */
.post-body .reveal.slide div.slides div pre .gp {
  color: #000080;
  font-weight: bold;
}
/* line 232, ../../sass/pages/p.scss */
.post-body .reveal.slide div.slides div pre .gs {
  font-weight: bold;
}
/* line 237, ../../sass/pages/p.scss */
.post-body .reveal.slide div.slides div pre .gu {
  color: #800080;
  font-weight: bold;
}
/* line 243, ../../sass/pages/p.scss */
.post-body .reveal.slide div.slides div pre .gt {
  color: #0044DD;
}
/* line 248, ../../sass/pages/p.scss */
.post-body .reveal.slide div.slides div pre .kc {
  color: #008000;
  font-weight: bold;
}
/* line 254, ../../sass/pages/p.scss */
.post-body .reveal.slide div.slides div pre .kd {
  color: #008000;
  font-weight: bold;
}
/* line 260, ../../sass/pages/p.scss */
.post-body .reveal.slide div.slides div pre .kn {
  color: #008000;
  font-weight: bold;
}
/* line 266, ../../sass/pages/p.scss */
.post-body .reveal.slide div.slides div pre .kp {
  color: #008000;
}
/* line 271, ../../sass/pages/p.scss */
.post-body .reveal.slide div.slides div pre .kr {
  color: #008000;
  font-weight: bold;
}
/* line 277, ../../sass/pages/p.scss */
.post-body .reveal.slide div.slides div pre .kt {
  color: #B00040;
}
/* line 282, ../../sass/pages/p.scss */
.post-body .reveal.slide div.slides div pre .m {
  color: #666666;
}
/* line 287, ../../sass/pages/p.scss */
.post-body .reveal.slide div.slides div pre .s {
  color: #BA2121;
}
/* line 292, ../../sass/pages/p.scss */
.post-body .reveal.slide div.slides div pre .na {
  color: #7D9029;
}
/* line 297, ../../sass/pages/p.scss */
.post-body .reveal.slide div.slides div pre .nb {
  color: #008000;
}
/* line 302, ../../sass/pages/p.scss */
.post-body .reveal.slide div.slides div pre .nc {
  color: #0000FF;
  font-weight: bold;
}
/* line 308, ../../sass/pages/p.scss */
.post-body .reveal.slide div.slides div pre .no {
  color: #880000;
}
/* line 313, ../../sass/pages/p.scss */
.post-body .reveal.slide div.slides div pre .nd {
  color: #AA22FF;
}
/* line 318, ../../sass/pages/p.scss */
.post-body .reveal.slide div.slides div pre .ni {
  color: #999999;
  font-weight: bold;
}
/* line 324, ../../sass/pages/p.scss */
.post-body .reveal.slide div.slides div pre .ne {
  color: #D2413A;
  font-weight: bold;
}
/* line 330, ../../sass/pages/p.scss */
.post-body .reveal.slide div.slides div pre .nf {
  color: #0000FF;
}
/* line 335, ../../sass/pages/p.scss */
.post-body .reveal.slide div.slides div pre .nl {
  color: #A0A000;
}
/* line 340, ../../sass/pages/p.scss */
.post-body .reveal.slide div.slides div pre .nn {
  color: #0000FF;
  font-weight: bold;
}
/* line 346, ../../sass/pages/p.scss */
.post-body .reveal.slide div.slides div pre .nt {
  color: #008000;
  font-weight: bold;
}
/* line 352, ../../sass/pages/p.scss */
.post-body .reveal.slide div.slides div pre .nv {
  color: #19177C;
}
/* line 357, ../../sass/pages/p.scss */
.post-body .reveal.slide div.slides div pre .ow {
  color: #AA22FF;
  font-weight: bold;
}
/* line 363, ../../sass/pages/p.scss */
.post-body .reveal.slide div.slides div pre .w {
  color: #bbbbbb;
}
/* line 368, ../../sass/pages/p.scss */
.post-body .reveal.slide div.slides div pre .mb {
  color: #666666;
}
/* line 373, ../../sass/pages/p.scss */
.post-body .reveal.slide div.slides div pre .mf {
  color: #666666;
}
/* line 378, ../../sass/pages/p.scss */
.post-body .reveal.slide div.slides div pre .mh {
  color: #666666;
}
/* line 383, ../../sass/pages/p.scss */
.post-body .reveal.slide div.slides div pre .mi {
  color: #666666;
}
/* line 388, ../../sass/pages/p.scss */
.post-body .reveal.slide div.slides div pre .mo {
  color: #666666;
}
/* line 393, ../../sass/pages/p.scss */
.post-body .reveal.slide div.slides div pre .sb {
  color: #BA2121;
}
/* line 398, ../../sass/pages/p.scss */
.post-body .reveal.slide div.slides div pre .sc {
  color: #BA2121;
}
/* line 403, ../../sass/pages/p.scss */
.post-body .reveal.slide div.slides div pre .sd {
  color: #BA2121;
  font-style: italic;
}
/* line 409, ../../sass/pages/p.scss */
.post-body .reveal.slide div.slides div pre .s2 {
  color: #BA2121;
}
/* line 414, ../../sass/pages/p.scss */
.post-body .reveal.slide div.slides div pre .se {
  color: #BB6622;
  font-weight: bold;
}
/* line 420, ../../sass/pages/p.scss */
.post-body .reveal.slide div.slides div pre .sh {
  color: #BA2121;
}
/* line 425, ../../sass/pages/p.scss */
.post-body .reveal.slide div.slides div pre .si {
  color: #BB6688;
  font-weight: bold;
}
/* line 431, ../../sass/pages/p.scss */
.post-body .reveal.slide div.slides div pre .sx {
  color: #008000;
}
/* line 436, ../../sass/pages/p.scss */
.post-body .reveal.slide div.slides div pre .sr {
  color: #BB6688;
}
/* line 441, ../../sass/pages/p.scss */
.post-body .reveal.slide div.slides div pre .s1 {
  color: #BA2121;
}
/* line 446, ../../sass/pages/p.scss */
.post-body .reveal.slide div.slides div pre .ss {
  color: #19177C;
}
/* line 451, ../../sass/pages/p.scss */
.post-body .reveal.slide div.slides div pre .bp {
  color: #008000;
}
/* line 456, ../../sass/pages/p.scss */
.post-body .reveal.slide div.slides div pre .vc {
  color: #19177C;
}
/* line 461, ../../sass/pages/p.scss */
.post-body .reveal.slide div.slides div pre .vg {
  color: #19177C;
}
/* line 466, ../../sass/pages/p.scss */
.post-body .reveal.slide div.slides div pre .vi {
  color: #19177C;
}
/* line 471, ../../sass/pages/p.scss */
.post-body .reveal.slide div.slides div pre .il {
  color: #666666;
}
/* line 482, ../../sass/pages/p.scss */
.post-body .reveal.slide aside.controls div.navigate-left {
  border-right-color: yellow;
}
/* line 486, ../../sass/pages/p.scss */
.post-body .reveal.slide aside.controls div.navigate-right {
  border-left-color: yellow;
}
/* line 490, ../../sass/pages/p.scss */
.post-body .reveal.slide aside.controls div.navigate-up {
  border-bottom-color: yellow;
}
/* line 494, ../../sass/pages/p.scss */
.post-body .reveal.slide aside.controls div.navigate-down {
  border-top-color: yellow;
}
