/* line 5, ../../sass/pages/p.scss */
.post-body .archives {
  padding-left: 0px;
  padding-right: 0px;
}

/* line 13, ../../sass/pages/p.scss */
.menu-nav > ul > li > a {
  padding-left: 0px;
  padding-top: 0px;
}

/* line 21, ../../sass/pages/p.scss */
.post-body .reveal.slide {
  font-size: 160%;
  background-color: white;
}
/* line 25, ../../sass/pages/p.scss */
.post-body .reveal.slide h1,
.post-body .reveal.slide h2,
.post-body .reveal.slide h3 {
  font-size: 1.5em;
  color: white;
}
/* line 32, ../../sass/pages/p.scss */
.post-body .reveal.slide p,
.post-body .reveal.slide li,
.post-body .reveal.slide pre,
.post-body .reveal.slide h4,
.post-body .reveal.slide h5 {
  color: white;
}
/* line 40, ../../sass/pages/p.scss */
.post-body .reveal.slide a {
  color: #f6f7d0;
}
/* line 44, ../../sass/pages/p.scss */
.post-body .reveal.slide img {
  cursor: pointer;
}
/* line 48, ../../sass/pages/p.scss */
.post-body .reveal.slide .progress {
  position: static;
}
/* line 52, ../../sass/pages/p.scss */
.post-body .reveal.slide div.slides {
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  height: auto !important;
  text-align: left;
  zoom: 0.7 !important;
  left: 50%;
}
/* line 60, ../../sass/pages/p.scss */
.post-body .reveal.slide div.slides section img {
  max-height: 600px;
  max-width: 600px;
  border: 0px solid black;
  -moz-box-shadow: 0 0 10px transparent;
  -webkit-box-shadow: 0 0 10px transparent;
  box-shadow: 0 0 10px transparent;
}
/* line 67, ../../sass/pages/p.scss */
.post-body .reveal.slide div.slides section i {
  font-style: normal;
  font-family: FontAwesome;
  font-size: 2em;
}
/* line 75, ../../sass/pages/p.scss */
.post-body .reveal.slide div.slides .fade {
  opacity: 1;
}
/* line 79, ../../sass/pages/p.scss */
.post-body .reveal.slide div.slides div.input_area {
  padding: 0.06em;
}
/* line 83, ../../sass/pages/p.scss */
.post-body .reveal.slide div.slides div.code_cell {
  background-color: transparent;
}
/* line 87, ../../sass/pages/p.scss */
.post-body .reveal.slide div.slides div.prompt {
  width: 11ex;
  padding: 0.4em;
  margin: 0px;
  font-family: monospace, sans-serif;
  font-size: 80%;
  text-align: right;
}
/* line 96, ../../sass/pages/p.scss */
.post-body .reveal.slide div.slides div.output_area pre {
  font-family: monospace, sans-serif;
  font-size: 80%;
}
/* line 101, ../../sass/pages/p.scss */
.post-body .reveal.slide div.slides div.output_prompt {
  /* 5px right shift to account for margin in parent container */
  margin: 5px 5px 0 0;
}
/* line 107, ../../sass/pages/p.scss */
.post-body .reveal.slide div.slides .rendered_html p {
  text-align: inherit;
}
/* line 111, ../../sass/pages/p.scss */
.post-body .reveal.slide div.slides div {
  color: black;
  padding: 0px;
}
/* line 115, ../../sass/pages/p.scss */
.post-body .reveal.slide div.slides div pre {
  color: black;
  width: inherit;
  padding: 0.4em;
  margin: 0px;
  font-family: monospace, sans-serif;
  font-size: 80%;
  -moz-box-shadow: 0px 0px 0px transparent;
  -webkit-box-shadow: 0px 0px 0px transparent;
  box-shadow: 0px 0px 0px transparent;
  background: #f8f8f8;
  /* Comment */
  /* Error */
  /* Keyword */
  /* Operator */
  /* Comment.Multiline */
  /* Comment.Preproc */
  /* Comment.Single */
  /* Comment.Special */
  /* Generic.Deleted */
  /* Generic.Emph */
  /* Generic.Error */
  /* Generic.Heading */
  /* Generic.Inserted */
  /* Generic.Output */
  /* Generic.Prompt */
  /* Generic.Strong */
  /* Generic.Subheading */
  /* Generic.Traceback */
  /* Keyword.Constant */
  /* Keyword.Declaration */
  /* Keyword.Namespace */
  /* Keyword.Pseudo */
  /* Keyword.Reserved */
  /* Keyword.Type */
  /* Literal.Number */
  /* Literal.String */
  /* Name.Attribute */
  /* Name.Builtin */
  /* Name.Class */
  /* Name.Constant */
  /* Name.Decorator */
  /* Name.Entity */
  /* Name.Exception */
  /* Name.Function */
  /* Name.Label */
  /* Name.Namespace */
  /* Name.Tag */
  /* Name.Variable */
  /* Operator.Word */
  /* Text.Whitespace */
  /* Literal.Number.Bin */
  /* Literal.Number.Float */
  /* Literal.Number.Hex */
  /* Literal.Number.Integer */
  /* Literal.Number.Oct */
  /* Literal.String.Backtick */
  /* Literal.String.Char */
  /* Literal.String.Doc */
  /* Literal.String.Double */
  /* Literal.String.Escape */
  /* Literal.String.Heredoc */
  /* Literal.String.Interpol */
  /* Literal.String.Other */
  /* Literal.String.Regex */
  /* Literal.String.Single */
  /* Literal.String.Symbol */
  /* Name.Builtin.Pseudo */
  /* Name.Variable.Class */
  /* Name.Variable.Global */
  /* Name.Variable.Instance */
}
/* line 125, ../../sass/pages/p.scss */
.post-body .reveal.slide div.slides div pre code span,
.post-body .reveal.slide div.slides div pre span {
  color: black;
}
/* line 130, ../../sass/pages/p.scss */
.post-body .reveal.slide div.slides div pre .hll {
  background-color: #ffffcc;
}
/* line 134, ../../sass/pages/p.scss */
.post-body .reveal.slide div.slides div pre .c {
  color: #408080;
  font-style: italic;
}
/* line 140, ../../sass/pages/p.scss */
.post-body .reveal.slide div.slides div pre .err {
  border: 1px solid #FF0000;
}
/* line 145, ../../sass/pages/p.scss */
.post-body .reveal.slide div.slides div pre .k {
  color: #008000;
  font-weight: bold;
}
/* line 151, ../../sass/pages/p.scss */
.post-body .reveal.slide div.slides div pre .o {
  color: #666666;
}
/* line 156, ../../sass/pages/p.scss */
.post-body .reveal.slide div.slides div pre .cm {
  color: #408080;
  font-style: italic;
}
/* line 162, ../../sass/pages/p.scss */
.post-body .reveal.slide div.slides div pre .cp {
  color: #BC7A00;
}
/* line 167, ../../sass/pages/p.scss */
.post-body .reveal.slide div.slides div pre .c1 {
  color: #408080;
  font-style: italic;
}
/* line 173, ../../sass/pages/p.scss */
.post-body .reveal.slide div.slides div pre .cs {
  color: #408080;
  font-style: italic;
}
/* line 179, ../../sass/pages/p.scss */
.post-body .reveal.slide div.slides div pre .gd {
  color: #A00000;
}
/* line 184, ../../sass/pages/p.scss */
.post-body .reveal.slide div.slides div pre .ge {
  font-style: italic;
}
/* line 189, ../../sass/pages/p.scss */
.post-body .reveal.slide div.slides div pre .gr {
  color: #FF0000;
}
/* line 194, ../../sass/pages/p.scss */
.post-body .reveal.slide div.slides div pre .gh {
  color: #000080;
  font-weight: bold;
}
/* line 200, ../../sass/pages/p.scss */
.post-body .reveal.slide div.slides div pre .gi {
  color: #00A000;
}
/* line 205, ../../sass/pages/p.scss */
.post-body .reveal.slide div.slides div pre .go {
  color: #888888;
}
/* line 210, ../../sass/pages/p.scss */
.post-body .reveal.slide div.slides div pre .gp {
  color: #000080;
  font-weight: bold;
}
/* line 216, ../../sass/pages/p.scss */
.post-body .reveal.slide div.slides div pre .gs {
  font-weight: bold;
}
/* line 221, ../../sass/pages/p.scss */
.post-body .reveal.slide div.slides div pre .gu {
  color: #800080;
  font-weight: bold;
}
/* line 227, ../../sass/pages/p.scss */
.post-body .reveal.slide div.slides div pre .gt {
  color: #0044DD;
}
/* line 232, ../../sass/pages/p.scss */
.post-body .reveal.slide div.slides div pre .kc {
  color: #008000;
  font-weight: bold;
}
/* line 238, ../../sass/pages/p.scss */
.post-body .reveal.slide div.slides div pre .kd {
  color: #008000;
  font-weight: bold;
}
/* line 244, ../../sass/pages/p.scss */
.post-body .reveal.slide div.slides div pre .kn {
  color: #008000;
  font-weight: bold;
}
/* line 250, ../../sass/pages/p.scss */
.post-body .reveal.slide div.slides div pre .kp {
  color: #008000;
}
/* line 255, ../../sass/pages/p.scss */
.post-body .reveal.slide div.slides div pre .kr {
  color: #008000;
  font-weight: bold;
}
/* line 261, ../../sass/pages/p.scss */
.post-body .reveal.slide div.slides div pre .kt {
  color: #B00040;
}
/* line 266, ../../sass/pages/p.scss */
.post-body .reveal.slide div.slides div pre .m {
  color: #666666;
}
/* line 271, ../../sass/pages/p.scss */
.post-body .reveal.slide div.slides div pre .s {
  color: #BA2121;
}
/* line 276, ../../sass/pages/p.scss */
.post-body .reveal.slide div.slides div pre .na {
  color: #7D9029;
}
/* line 281, ../../sass/pages/p.scss */
.post-body .reveal.slide div.slides div pre .nb {
  color: #008000;
}
/* line 286, ../../sass/pages/p.scss */
.post-body .reveal.slide div.slides div pre .nc {
  color: #0000FF;
  font-weight: bold;
}
/* line 292, ../../sass/pages/p.scss */
.post-body .reveal.slide div.slides div pre .no {
  color: #880000;
}
/* line 297, ../../sass/pages/p.scss */
.post-body .reveal.slide div.slides div pre .nd {
  color: #AA22FF;
}
/* line 302, ../../sass/pages/p.scss */
.post-body .reveal.slide div.slides div pre .ni {
  color: #999999;
  font-weight: bold;
}
/* line 308, ../../sass/pages/p.scss */
.post-body .reveal.slide div.slides div pre .ne {
  color: #D2413A;
  font-weight: bold;
}
/* line 314, ../../sass/pages/p.scss */
.post-body .reveal.slide div.slides div pre .nf {
  color: #0000FF;
}
/* line 319, ../../sass/pages/p.scss */
.post-body .reveal.slide div.slides div pre .nl {
  color: #A0A000;
}
/* line 324, ../../sass/pages/p.scss */
.post-body .reveal.slide div.slides div pre .nn {
  color: #0000FF;
  font-weight: bold;
}
/* line 330, ../../sass/pages/p.scss */
.post-body .reveal.slide div.slides div pre .nt {
  color: #008000;
  font-weight: bold;
}
/* line 336, ../../sass/pages/p.scss */
.post-body .reveal.slide div.slides div pre .nv {
  color: #19177C;
}
/* line 341, ../../sass/pages/p.scss */
.post-body .reveal.slide div.slides div pre .ow {
  color: #AA22FF;
  font-weight: bold;
}
/* line 347, ../../sass/pages/p.scss */
.post-body .reveal.slide div.slides div pre .w {
  color: #bbbbbb;
}
/* line 352, ../../sass/pages/p.scss */
.post-body .reveal.slide div.slides div pre .mb {
  color: #666666;
}
/* line 357, ../../sass/pages/p.scss */
.post-body .reveal.slide div.slides div pre .mf {
  color: #666666;
}
/* line 362, ../../sass/pages/p.scss */
.post-body .reveal.slide div.slides div pre .mh {
  color: #666666;
}
/* line 367, ../../sass/pages/p.scss */
.post-body .reveal.slide div.slides div pre .mi {
  color: #666666;
}
/* line 372, ../../sass/pages/p.scss */
.post-body .reveal.slide div.slides div pre .mo {
  color: #666666;
}
/* line 377, ../../sass/pages/p.scss */
.post-body .reveal.slide div.slides div pre .sb {
  color: #BA2121;
}
/* line 382, ../../sass/pages/p.scss */
.post-body .reveal.slide div.slides div pre .sc {
  color: #BA2121;
}
/* line 387, ../../sass/pages/p.scss */
.post-body .reveal.slide div.slides div pre .sd {
  color: #BA2121;
  font-style: italic;
}
/* line 393, ../../sass/pages/p.scss */
.post-body .reveal.slide div.slides div pre .s2 {
  color: #BA2121;
}
/* line 398, ../../sass/pages/p.scss */
.post-body .reveal.slide div.slides div pre .se {
  color: #BB6622;
  font-weight: bold;
}
/* line 404, ../../sass/pages/p.scss */
.post-body .reveal.slide div.slides div pre .sh {
  color: #BA2121;
}
/* line 409, ../../sass/pages/p.scss */
.post-body .reveal.slide div.slides div pre .si {
  color: #BB6688;
  font-weight: bold;
}
/* line 415, ../../sass/pages/p.scss */
.post-body .reveal.slide div.slides div pre .sx {
  color: #008000;
}
/* line 420, ../../sass/pages/p.scss */
.post-body .reveal.slide div.slides div pre .sr {
  color: #BB6688;
}
/* line 425, ../../sass/pages/p.scss */
.post-body .reveal.slide div.slides div pre .s1 {
  color: #BA2121;
}
/* line 430, ../../sass/pages/p.scss */
.post-body .reveal.slide div.slides div pre .ss {
  color: #19177C;
}
/* line 435, ../../sass/pages/p.scss */
.post-body .reveal.slide div.slides div pre .bp {
  color: #008000;
}
/* line 440, ../../sass/pages/p.scss */
.post-body .reveal.slide div.slides div pre .vc {
  color: #19177C;
}
/* line 445, ../../sass/pages/p.scss */
.post-body .reveal.slide div.slides div pre .vg {
  color: #19177C;
}
/* line 450, ../../sass/pages/p.scss */
.post-body .reveal.slide div.slides div pre .vi {
  color: #19177C;
}
/* line 455, ../../sass/pages/p.scss */
.post-body .reveal.slide div.slides div pre .il {
  color: #666666;
}
/* line 466, ../../sass/pages/p.scss */
.post-body .reveal.slide aside.controls div.navigate-left {
  border-right-color: yellow;
}
/* line 470, ../../sass/pages/p.scss */
.post-body .reveal.slide aside.controls div.navigate-right {
  border-left-color: yellow;
}
/* line 474, ../../sass/pages/p.scss */
.post-body .reveal.slide aside.controls div.navigate-up {
  border-bottom-color: yellow;
}
/* line 478, ../../sass/pages/p.scss */
.post-body .reveal.slide aside.controls div.navigate-down {
  border-top-color: yellow;
}
