/* line 6, ../../sass/pages/publish.scss */
.publish-body {
  margin: 10px;
  background-color: whitesmoke;
  border-radius: 4px;
}
/* line 11, ../../sass/pages/publish.scss */
.publish-body form {
  color: #32322d;
}
/* line 15, ../../sass/pages/publish.scss */
.publish-body form .form-group label {
  color: #55323e;
  font-weight: normal;
}
/* line 20, ../../sass/pages/publish.scss */
.publish-body form .form-group #postTypeInput {
  max-width: 400px;
}
/* line 28, ../../sass/pages/publish.scss */
.publish-body .hint {
  text-align: center;
}
/* line 32, ../../sass/pages/publish.scss */
.publish-body .hint span {
  font-size: 1em;
}
