h1 {
    text-align: center;
}

#articles {

    background-color: rgba(40, 41, 35, 0.8);
    width: 90%;
    max-width: 900px;
    min-height: 650px;
    margin: 20px auto;
    padding: 20px;
    position: relative;
    border: 2px solid;
    border-radius: 25px;
}
