{% extends "base.html" %}
{% block container %}
    <div class="container-fluid publish-body">
        <form>
            <div class="form-group">
                <label for="post_title">文章标题</label>
                <input type="text" class="form-control" id="post_title" placeholder="文章标题">
            </div>
            <div class="form-group">
                <label for="post_name">文章链接</label>
                <input type="text" class="form-control" id="post_name" placeholder="文章链接  'one-more-tineone-more-chance'">
            </div>
            <div class="form-group">
                <label for="post_content">文章内容</label>
                <textarea class="form-control" rows="20" placeholder="文章内容" id="post_content"></textarea>
            </div>
            <button type="submit" class="btn btn-default">Submit</button>
        </form>
    </div>
{% endblock %}