{% extends "base.html" %}

{% block page_css %}
    {% assets filters="less,cssmin", output="assets/page.css",
            "less/pages/publish.less" %}
        <link rel="stylesheet" href="{{ ASSET_URL }}" />
    {% endassets %}
{% endblock %}

{% block container %}
    <div class="container">
        <div class="container-fluid publish-body">
            <div class="row hint">
                <span class="label label-info">发布新文章</span>
            </div>
            <form id="publishForm">
                <div class="form-group">
                    <label for="post_title">文章标题</label>
                    <input type="text" class="form-control" id="postTitleInput" placeholder="文章标题">
                </div>
                <div class="form-group">
                    <label for="post_name">文章链接</label>
                    <input type="text" class="form-control" id="postNameInput" placeholder="文章链接  'one-more-tineone-more-chance'">
                </div>
                <div class="form-group">
                    <label for="post_content">文章内容</label>
                    <a class="btn btn-default" data-wysihtml5-command="bold" title="CTRL+B">bold</a>
                    <a class="btn btn-default" data-wysihtml5-command="italic" title="CTRL+I">italic</a>
                    <a class="btn btn-default" data-wysihtml5-command="createLink">insert link</a>
                    <a class="btn btn-default" data-wysihtml5-command="insertImage">insert image</a>
                    <a class="btn btn-default" data-wysihtml5-command="formatBlock" data-wysihtml5-command-value="h1">h1</a>
                    <a class="btn btn-default" data-wysihtml5-command="formatBlock" data-wysihtml5-command-value="h2">h2</a>
                    <a class="btn btn-default" data-wysihtml5-command="insertUnorderedList">insertUnorderedList</a>
                    <a class="btn btn-default" data-wysihtml5-command="insertOrderedList">insertOrderedList</a>
                    <a class="btn btn-default" data-wysihtml5-command="foreColor" data-wysihtml5-command-value="red">red</a>
                    <a class="btn btn-default" data-wysihtml5-command="foreColor" data-wysihtml5-command-value="green">green</a>
                    <a class="btn btn-default" data-wysihtml5-command="foreColor" data-wysihtml5-command-value="blue">blue</a>
                    <a class="btn btn-default" data-wysihtml5-command="undo">undo</a>
                    <a class="btn btn-default" data-wysihtml5-command="redo">redo</a>
                    <a class="btn btn-default" data-wysihtml5-command="insertSpeech">speech</a>
                    <a class="btn btn-default" data-wysihtml5-action="change_view">switch to html view</a>
                    <textarea class="form-control" rows="20" placeholder="文章内容" id="postContentInput"></textarea>
                </div>
                <div class="form-group">
                    <label for="post_type">文章类型</label>
                    <select class="form-control" id="postTypeInput">
                        <option>text</option>
                        <option>slide</option>
                    </select>
                </div>
                <button type="submit" class="btn btn-default">Submit</button>
            </form>
        </div>
    </div>
{% endblock %}
