<!DOCTYPE HTML>
<html lang="en">
{% block head %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block title %}
        <title>Laisky's Blog</title>
    {% endblock %}
    <link rel="alternate" type="application/rss+xml" title="Articles" href="https://blog.laisky.com/rss/">
    <link rel="shortcut icon" href="/favicon.ico">
    <link rel="apple-touch-icon" href="/apple-touch-icon.png">
    <link rel="stylesheet" type="text/css" href="https://s3.laisky.com/static/gargantua/css/libs-edee677d7d.min.css">
    <link rel="stylesheet" type="text/css" href="https://s1.laisky.com/static/highlight/9.15.8/default.min.css">
    <link rel="stylesheet" type="text/css" href="{{static_url('css/sites.min.css')}}">
    {% block page_css %}
    {% endblock %}<!-- page_css -->
</head>
{% endblock %}<!-- head -->


{% block body %}
<body>

    {% include "fade.html" %}
    <div class="container-fluid" id="body">
        {% block container %}
        {% endblock %}<!-- container -->
    </div>

    <div class="pagejsx">
        <script>
            window.graphqlAPI = '/graphql/query/';
        </script>
        {% block page_jsx %}
        {% endblock %}<!-- page_js -->
    </div>

    <script src="https://s1.laisky.com/static/jquery/2.2.2/jquery.min.js"></script>
    <script src="https://s1.laisky.com/static/twitter-bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="https://s1.laisky.com/static/babel-polyfill/6.23.0/polyfill.min.js"></script>
    <script src="https://s2.laisky.com/static/humane.min.js"></script>
    <script src="https://s2.laisky.com/static/immutable/3.8.1/immutable.min.js"></script>
    <script src="https://s2.laisky.com/static/jwt-decode/2.1.0/jwt-decode.min.js"></script>
    <script src="https://s3.laisky.com/static/moment.js/2.12.0/moment-with-locales.min.js"></script>
    <script src="https://s2.laisky.com/static/highlight/9.15.8/highlight.min.js"></script>
    <script src="https://s3.laisky.com/static/gargantua/js/libs-6279436b98.min.js" type="text/javascript" charset="utf-8"></script>
    <script defer src="https://s3.laisky.com/static/gargantua/js/reveallibs.min.js" type="text/javascript" charset="utf-8"></script>
    <script type="text/javascript" src="https://s3.laisky.com/static/mathjax/2.6/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
    <script type="text/x-mathjax-config">
        MathJax.Hub.Config({
            tex2jax: {inlineMath: [['\\[','\\]'], ['\\(','\\)']]}
        });
    </script>
    <script async src="{{static_url('js/sites.min.js')}}" type="text/javascript" charset="utf-8"></script>
    <script>
        (function(i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r;
            i[r] = i[r] || function() {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date();
            a = s.createElement(o),
                m = s.getElementsByTagName(o)[0];
            a.async = 1;
            a.src = g;
            m.parentNode.insertBefore(a, m)
        })(window, document, 'script', 'https://s3.laisky.com/static/ga-analytics-20170420.js', 'ga');

        ga('create', 'UA-65521906-1', 'auto');
        ga('send', 'pageview');

        var revealLibUrl = 'https://s2.laisky.com/static/gargantua/js/reveallibs.min.js';
    </script>
    <div class="pagejs">
        {% block page_js %}
        {% endblock %}<!-- page_js -->
    </div>
</body>
{% endblock %}

</html>
