<!DOCTYPE HTML>
<html lang="zh-cn">
{% block head %}

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block title %}
    <title>Laisky's Blog</title>
    {% endblock %}
    <link rel="alternate" type="application/rss+xml" title="Articles" href="https://s3.laisky.com/public/rss.xml"/>
    <link rel="shortcut icon" href="/favicon.ico"/>
    <link rel="apple-touch-icon" href="/apple-touch-icon.png"/>
    <link rel="stylesheet" type="text/css" href="https://s3.laisky.com/static/gargantua/css/libs-07c43b4570.min.css"/>
    <link rel="stylesheet" type="text/css" href="https://s3.laisky.com/static/prism/1.29.0/prism.css"/>
    <link rel="stylesheet" type="text/css" href="{{static_url('css/sites.min.css')}}"/>
    <link rel="stylesheet" href="https://s3.laisky.com/static/bootstrap-icons/1.11.3/font/bootstrap-icons.min.css"/>
    <link rel="stylesheet" href="https://s3.laisky.com/static/bootstrap-toc/v1.0.1/bootstrap-toc.min.css"/>

    {% block page_css %}
    {% endblock %}
    <!-- page_css -->
</head>
{% endblock %}
<!-- head -->


{% block body %}

<body>

    {% include "fade.html" %}
    <div class="container-fluid" id="body">
        {% block container %}
        {% include "widgets/dialog.html" %}
        {% endblock %}
        <!-- container -->
    </div>

    <div class="pagejsx">
        <script>
            window.graphqlAPI = 'https://gq.laisky.com/query/' + window.location.search;
        </script>
        {% block page_jsx %}
        {% endblock %}
        <!-- page_js -->
    </div>


    <script src="https://js.sentry-cdn.com/0a5aa56db9cb55dc305a90b5ec8a5c51.min.js" crossorigin="anonymous" async></script>
    <script type="module">
        var revealLibUrl = 'https://s3.laisky.com/static/gargantua/js/reveallibs.min.js';

        const modules = [
            "https://s3.laisky.com/static/jquery/3.6.0/jquery-3.6.0.min.js",
            "https://s3.laisky.com/static/twitter-bootstrap/3.4.1/dist/js/bootstrap.min.js",
            "https://s3.laisky.com/static/bootstrap-toc/v1.0.1/bootstrap-toc.min.js",
            "https://s3.laisky.com/static/babel-polyfill/6.23.0/polyfill.min.js",
            "https://s3.laisky.com/static/humane.min.js",
            "https://s3.laisky.com/static/immutable/3.8.1/immutable.min.js",
            "https://s3.laisky.com/static/jwt-decode/2.1.0/jwt-decode.min.js",
            "https://s3.laisky.com/static/moment.js/2.12.0/moment-with-locales.min.js",
            "https://s3.laisky.com/static/prism/1.29.0/prism.js",
            "https://s3.laisky.com/static/gargantua/js/libs-94b83873d9.min.js",
            // "https://blog.laisky.com/static/dist/js/reveallibs.min.js",
            "https://s3.laisky.com/static/mathjax/2.7.3/MathJax-2.7.3/MathJax.js?config=TeX-MML-AM_CHTML",
        ];

        import * as libs from 'https://s3.laisky.com/static/laisky/libs.js?v=20240326-v3';

        // load common js modules
        await libs.LoadJsModules(modules);

        // load ecma modules
        // await libs.LoadJsModules([], "module");

        // load site js modules
        await libs.LoadJsModules(["{{static_url('js/sites.min.js')}}"], "module");

        // Google tag (gtag.js)
        (async () => {
            await libs.LoadJsModules(["https://www.googletagmanager.com/gtag/js?id=G-BVS991NWWS"]);
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());
            gtag('config', 'G-BVS991NWWS');
        })();
    </script>

    <div class="pagejs">
        {% block page_js %}
        {% endblock %}
    </div>
</body>
{% endblock %}

</html>
