@import "compass/utilities/general/min";
@import "compass/css3/transform";
@import "compass/css3/background-size";
@import "compass/css3/images";

html {
    overflow-x: hidden;
    overflow-y: auto;
    @include min-height(600px);
}

body {
    height: initial;
    overflow-x: hidden;
    overflow-y: auto;
    font-family: "Helvetica Neue", "Helvetica", "Microsoft YaHei", "Segoe UI", "Arial", "freesans", "sans-serif";
    background-image: url("https://blog.laisky.com/qiniu/background-1500x844.jpg");
    @include background-size(100% 100%);
    background-attachment: fixed;

    > .container {
        max-width: 900px;
    }
}

.navbar-right {
    padding-left: 0;
}

.navbar {
    .gsc-control-cse {
        padding: 0;
        height: inherit;
        position: relative;
        top: 3px;
        background-color: inherit;
        border-color: transparent;

        td {
            background-color: inherit;
        }

        .gsc-control-wrapper-cse {
            width: 150px;
        }

        .gsc-search-button {
            display: none;
        }
    }

    .rss {
        height: 20px;
        width: 20px;
    }
}

.row {
    margin-left: 0;
    margin-right: 0;
}

.navbar-fixed-top {
    padding-left: 10px;
    padding-right: 10px;
}

.loader-inner {
    &.pacman {
        margin-left: 30px;
    }

    &.ball-scale-ripple-multiple {
        margin-top: 30px;
        margin-left: 30px;
    }
}

.vertical-align {
    position: relative;
    top: 50%;
    @include translateY(-50%);
}

.global-fade {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background-color: rgba(40, 41, 35, 0.8);
    display: none;
}

.container,
.container-fluid {
    padding: 0;
}

#body {
    margin-top: 40px;
}
