/* line 5, ../sass/base.scss */
html {
  height: 100%;
  min-height: 600px;
}

/* line 10, ../sass/base.scss */
body {
  height: 100%;
  overflow: auto;
  font-family: "Helvetica Neue", "Helvetica", "Microsoft YaHei", "Segoe UI", "Arial", "freesans", "sans-serif";
  background-image: url(http://laisky-blog.qiniudn.com/background-1500x844.jpg);
  -moz-background-size: 100% 100%;
  -o-background-size: 100% 100%;
  -webkit-background-size: 100% 100%;
  background-size: 100% 100%;
  background-attachment: fixed;
}
/* line 18, ../sass/base.scss */
body > .container {
  max-width: 900px;
  margin-top: 40px;
}

/* line 25, ../sass/base.scss */
.navbar-right {
  padding-left: 0px;
}

/* line 30, ../sass/base.scss */
.navbar .gsc-control-cse {
  padding: 0px;
  height: inherit;
  position: relative;
  top: 3px;
  background-color: inherit;
  border-color: transparent;
}
/* line 38, ../sass/base.scss */
.navbar .gsc-control-cse td {
  background-color: inherit;
}
/* line 42, ../sass/base.scss */
.navbar .gsc-control-cse .gsc-control-wrapper-cse {
  width: 150px;
}
/* line 46, ../sass/base.scss */
.navbar .gsc-control-cse .gsc-search-button {
  display: none;
}

/* line 54, ../sass/base.scss */
.row {
  margin-left: 0px;
  margin-right: 0px;
}

/* line 59, ../sass/base.scss */
.navbar-fixed-top {
  padding-left: 10px;
  padding-right: 10px;
}

/* line 65, ../sass/base.scss */
.loader-inner.pacman {
  margin-left: 30px;
}
/* line 69, ../sass/base.scss */
.loader-inner.ball-scale-ripple-multiple {
  margin-top: 30px;
  margin-left: 30px;
}

/* line 76, ../sass/base.scss */
.vertical-align {
  position: relative;
  top: 50%;
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

/* line 82, ../sass/base.scss */
.global-fade {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background-color: rgba(40, 41, 35, 0.8);
  display: none;
}

/* line 93, ../sass/base.scss */
.container,
.container-fluid {
  padding: 0px;
}
