@charset: 'UTF-8';
@import "../themes/default.less";

.post.post-container {
    background-color: @post-bgd-clr;
    // width: 90%;
    // max-width: 900px;
    padding: 20px;
    position: relative;
    border: 2px solid @post-bgd-clr;
    border-radius: 25px;
    margin-bottom: 15px;
    margin-left: auto;
    margin-right: auto;

    .post-title {
        text-align: center;
        font-weight: bolder;

        a {
            color: @post-title-clr;
        }

    }

    .post-modified {
        color: black;
        text-align: right;
        margin-bottom: 10px;
        margin-top: -10px;
    }

    .post-content {
        line-height: 150%;
        font-size: 1.2em;
        color: @post-cnt-clr;

        .codehilite {
            margin-bottom: 16px;
        }

        img {
            cursor: pointer;
            max-height: 600px;
            max-width: 600px;
        }

        a {
            color: @link-clr;
        }

        blockquote {
            font: inherit;
            margin: 20px;
        }

        pre {
            color: @post-cnt-clr;
            background-color: @post-bgd-clr;
            font-family: inherit;

            span {
                font-family: inherit;
            }

        }

        code {
            color: @post-cnt-clr;

            span {
                font-family: inherit;
            }

        }

    }

    .post-tail {
        text-align: right;
        margin-right: 30px;

        > span {
            margin-left: 50px;
        }

        a {
            color: @post-cnt-clr;
            margin-left: 30px;
        }

    }

    .icon-star {
        margin-top: 0px;
    }

}