@charset: 'UTF-8';


@background_color: rgb(245, 245, 245);
@link_color: rgb(27, 65, 135);
@post_content_color: rgb(50, 50, 45);
@post_title_color: rgb(85, 50, 62);


.post {
    background-color: @background_color;
    width: 90%;
    max-width: 900px;
    padding: 20px;
    position: relative;
    border: 2px solid @background_color;
    border-radius: 25px;
    margin-bottom: 15px;

    .post-title {
        text-align: center;
        font-weight: bolder;

        a {
            color: @post_title_color;
        }
    }
    .post-content {
        line-height: 150%;
        font-size: 1.2em;
        color: @post_content_color;

        img {
            max-height: 600px;
            max-width: 600px;
        }
        a {
            color: @link_color;
        }
        blockquote {
            font: inherit;
            margin: 20px;
        }
        pre {
            color: black;
            background-color: @post_content_color;
            font-family: inherit;
            span {
            font-family: inherit;

            }
        }
        code {
            color: black;

            span {
                font-family: inherit;
            }
        }
    }
    .post-tail {
        text-align: right;
        margin-right: 30px;

        > span {
            margin-left: 50px;
        }

        a {
            color: @post_content_color;
            margin-left: 150px;
        }
    }
    .icon-star {
        margin-top: 0px;
    }
}