@charset: "UTF-8";

body {
    #archives {
        div.post-container {
            div.post-content {
                div.preview {
                    text-align: center;
                    span.glyphicon {
                        font-size: 3em;
                        margin: 10px;
                    }
                }
            }
        }
    }
    .navigator {
        a {
            color: #f6f7d0;
            text-decoration: underline;
        }
        .container-fluid {
            padding: 5px;
            position: relative;

            > .row {
                min-height: 100px;
                padding: 10px;
                margin-bottom: 10px;
                background-color: rgba(40, 41, 35, 0.8);
                border: 2px solid;
                border-radius: 10px;

                h1,
                h2,
                h3 {
                    color: #f6f7d0;
                    margin-top: 0px;
                    text-align: center;
                }
            }
        }
    }
    .archives.page-nav {
        text-align: center;
    }
}