.publish-body {
    form {
        .form-group {
            label {
                color: yellow;
                font-weight: normal;
            }
        }
    }
    .hint {
        margin-bottom: 10px;
        text-align: center;
        span {
            font-size: 1em;
        }
    }
}