@charset: "UTF-8";

// 和 post 的配色保持一致
@import "../widgets/post.less";
@bgd-clr: @post-bgd-clr;
@cnt-clr: @post-cnt-clr;
@title-clr: @post-title-clr;

.publish-body {
    padding: 10px;
    background-color: @bgd-clr;
    border-radius: 4px;

    form {
        color: @cnt-clr;
        .form-group {
            label {
                color: @title-clr;
                font-weight: normal;
            }

            #postTypeInput {
                max-width: 400px;
            }
        }
    }
    .hint {
        margin-bottom: 10px;
        text-align: center;
        span {
            font-size: 1em;
        }
    }
}