@import "compass/css3/border-radius";
@import "../themes/default.scss";

#publish,
#amend {
    background-color: $post-bgd-clr;
    padding: 10px;
    position: relative;
    border: 2px solid $post-bgd-clr;
    @include border-radius(10px);
    margin-bottom: 15px;
    margin-left: auto;
    margin-right: auto;

    .hint {
        text-align: center;
        font-size: 1.2em;
    }

}