<div id="{{ post.post_name }}" class="post post-container">
  <h2 class="post-title"><a href="/p/{{ post.post_name }}/" target="_blank">{{ post.post_title }}</a></h2>
  <div class="post-modified">
    <span>发布于：</span>
    <span>{{ post.post_created_at | utc2cst | time_format }}</span>
  </div>
  <div class="post-content">
    <article class="{{ 'markdown-body' if post.post_type == 'markdown' else '' }}">
      {{ post.post_content }}
    </article>
  </div>
  <div class="post-tail">
    <a href="/amend/?post-name={{ post.post_name }}">编辑</a> {% if post.post_password %} {% elif posts|length != 1 %}
    <a href="/p/{{ post.post_name }}/#disqus_thread" data-disqus-identifier="{{ post.post_name }}" target="_blank">0 评论</a> {% endif %} {% if not posts %} {% include "widgets/comment.html" %} {% endif %}
  </div>
</div>
