/**
 * archives 组件的 CSS
 */

@import "compass/css3/border-radius";
@import "../themes/default.scss";


#archive-menu {
    background-color: $post-bgd-clr;
    padding: 10px;
    position: fixed;
    max-width: 250px;
    max-height: 600px;
    overflow-y: auto;
    border: 2px solid $post-bgd-clr;
    @include border-radius(10px);

    ul, li {
        float: none;
        display: block;
    }

    .nav li a {
        padding: 2px;
    }

    li.active>a {
        background-color: lightgrey;
    }
}

.archive.archive-extract {
    background-color: $post-bgd-clr;
    padding: 10px;
    position: relative;
    border: 2px solid $post-bgd-clr;
    @include border-radius(25px);
    margin-bottom: 15px;
    margin-left: auto;
    margin-right: auto;

    .archive-title {
        text-align: center;
        margin-bottom: 20px;
        margin-top: 0px;

        a {
            color: $post-title-clr;
        }
    }

    .archive-meta {
        color: black;
        text-align: right;
        margin-bottom: 10px;
        margin-top: -10px;
    }

    .archive-content {
        line-height: 150%;
        color: $post-cnt-clr;
        margin-bottom: 10px;
        font-size: 17px;

        .post_series {
            .panel-title {
                margin: 0;
                font-size: 1em;
            }

            .panel-body {
                ul {
                    margin: 0px;
                }
            }
        }

        .reveal {
            min-height: 600px !important;
            font-size: 1.4em;

            .slides {
                text-align: left;

                h1,
                h2 {
                    text-align: center;
                }

                li {
                    margin-left: 2em;
                }

                img,
                pre {
                    margin: 0 auto;
                }

                pre,
                code {
                    font-size: inherit;
                }
            }
        }

        h1 {
            margin-top: 0;
        }

        h1,
        h2 {
            border-bottom: 2px solid #EEE;
        }

        .footnotes {
            hr {
                height: 0;
                margin: 0;
            }

            ol>li {
                p {
                    margin: 0;
                }
            }
        }

        blockquote>p {
            font-style: italic;
            font-size: 0.9em;
            color: $post-quote-clr;
        }

        pre {
            margin-bottom: 20px;
        }

        .codehilite {
            margin-bottom: 16px;
        }

        img {
            display: block;
            cursor: pointer;
            max-height: 600px;
            // max-width: 600px;
            max-width: 90%;
            margin-left: 10px;
            border-width: 5px 5px 5px 5px;
            box-shadow: 1px 1px 5px #333;
            -webkit-box-shadow: 1px 1px 5px #333;
            -moz-box-shadow: 1px 1px 5px #333;
        }

        video {
            display: block;
            max-width: 90%;
            max-height: 600px;
        }

        a {
            color: $link-clr;
        }

        blockquote {
            font: inherit;
            margin: 20px;
        }
    }

    .archive-tail {
        text-align: right;
        margin-right: 30px;

        div {
            float: left;
        }

        >span {
            margin-left: 50px;
        }

        a {
            color: $post-cnt-clr;
            margin-left: 30px;
        }

        .category a {
            margin-left: 0px;
        }

        .tags {
            margin-left: 5px;
            max-width: 335px;

            span {
                margin-left: 1px;
                cursor: pointer;
            }
        }

        .popover {
            // width: 500px;
            max-width: none;

            img {
                width: 100%;
                max-width: 400px;
                min-width: 200px;
            }
        }
    }
}
