@import "compass/utilities/general/min";
@import "compass/css3/border-radius";
@import "../themes/default.scss";

body {
    overflow: auto;

    > .container {
        @include min-height(90%);
        @include border-radius(10px);
        background-color: $post-bgd-clr;
        padding: 20px;
    }

}

.reveal {
    h1,
    h2,
    h3,
    h4 {
        margin-bottom: 30px;
    }

    li {
        margin-left: 40px;
    }

    p, ul {
        margin-bottom: 10px;
    }

    strong {
        font-weight: bolder;
    }

    img {
        max-height: 600px;
        max-width: 600px;
    }

}