@import "~bootstrap/scss/bootstrap";

@import "./pages/pages.scss";
@import "./pages/post.scss";
@import "./pages/about.scss";
@import "./pages/categories.scss";
@import "./pages/edit.scss";

html,
body {
    height: 100%;
    overflow: hidden;
}

body {
    font-family: system-ui, -apple-system, Microsoft YaHei, Helvetica Neue, Helvetica, Segoe UI, Arial, freesans, sans-serif;
    background-image: url("https://s3.laisky.com/uploads/2020/01/background-white.jpeg");
    background-size: 100% 100%;
    background-attachment: fixed;
    word-break: break-word;
    word-wrap: break-word;
    letter-spacing: 1.5px;
    -webkit-font-smoothing: antialiased;

    #root {
        height: inherit;
        overflow: hidden;
        display: flex;
        justify-content: space-around;
        padding: 0px;

        #container {
            margin: 0px;
            height: inherit;
            padding: 0px;
            padding-top: 40px;
            overflow: hidden;
            display: flex;
            justify-content: space-around;
        }
    }

    nav.fixed-top {
        padding: 0px;
    }
}
