.post-body {
    .archives {
        padding-left: 0px;
        padding-right: 0px;
    }

}

.menu-nav {
    > .nav {
        max-width: 100px;
        overflow: hidden;
    }

    > .nav li:hover .nav {
        display: block;
    }

    .nav li a {
        font-size: 0.8em;
        padding: 2px;
    }

    li.active > a {
        background-color: lightgrey;
    }

    .nav .nav {
        display: none;

        li {
            margin-left: 10px;
        }

    }

    .nav li.active nav {
        display: block;
    }

    .nav .active .nav {
        display: block;
    }

}